.dashboardpage{
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    min-width: 600px;
    overflow: auto;
    background-color: #f8f9fa;
    &-content{
        width: 100%;
        padding: 1em 3em;
    }
}