@import 'styles/variables.scss';
#delete-row-dialog {
    background-color: #f8f9fa;
    margin: auto;

    & .title {
        width: 100%;
        background-color: #f1f3f5;
        font-size: 1.5em;
        padding: 1em 1.5em;
        font-weight: 500;
        border-bottom: .1vmin solid #e6e8eb;
    }

    & .descr {
        border-bottom: .1vmin solid #e6e8eb;
        width: 100%;
        font-size: 1.3em;
        padding: 1.3em 1.5em;
    }

    & .button-container {
        & .button {
            font-size: 1.3em;
        }

        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: .5em;
        padding: 1em 1.5em;
    }
}

.aside-dialog {
    position: relative;
    margin-left: auto;
    height: 100%;    
    width: 50%;
    &-wrapper{
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
    }
    &-title {
        width: 100%;
        background-color: #f1f3f5;
        font-size: 2em;
        padding: 1em 1.5em;
        font-weight: 500;
        border-bottom: 0.1vmin solid #e6e8eb;
    }
    &-form {
        padding: 1.3em 1.5em;   
    }

    &-buttons {
        border-top: 0.1vmin solid #e6e8eb;
        margin-top: auto;
        display: flex;        
        justify-content: space-evenly;
        padding: 1.5em 1.25em;
        gap: 1em;
        & .button{
            text-transform: capitalize;
        }
    }
}