@import 'styles/variables.scss';


$RowHeight: 3em;

/*
.tableWrapper {
    min-height: ($RowHeight * 2); // 1 row + menus
    
    max-height:  ($RowHeight * (15 + 1)); // 15 rows + menus 
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #e6e8eb #f1f3f5;    
}
*/

.datagrid {
    min-width: 772px;
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;

    & tr {
        height: $RowHeight;
    }

    & td,
    th {
        border: .1vmin solid #e6e8eb;
        padding: .5em 1em;
    }

    & thead {
        background-color: #f1f3f5;
    }

    & thead,
    th {
        top: 0;
        position: sticky;
    }

    & tfoot {
        tr {
            height: unset;
        }

        td {
            padding: unset;
            border: unset;
        }
    }

    &-row {
        &.error {
            text-align: center;
            font-size: 2em;
        }
    }

    & input[type=checkbox] {
        aspect-ratio: 1;
        accent-color: #e6e8eb;
        width: 1em;
        height: 1em;
    }

    &-cell {
        min-width: 45px;
        font-size: 1.3em;

        & .controll {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 1em;

            & .datagrid-expand {
                visibility: hidden;
                aspect-ratio: 1;
                min-height: 1em;
                display: inline-flex;
                align-items: center;
                border-radius: 50%;
                padding: .1em;

                &:hover {
                    background-color: #ededed;
                }

                & svg {
                    stroke: black;
                    aspect-ratio: 1;
                    width: 1.25em;
                    height: 1.25em;
                }
            }

            &:hover {
                & .datagrid-expand {
                    visibility: visible;
                }
            }
        }

        & .header {
            width: 100%;
            display: inline-flex;
            font-weight: 600;

            & .title-wrapper {
                overflow: hidden;
                text-overflow: ellipsis;

                width: 100%;
                cursor: pointer;
                user-select: none;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: .1em;

                & svg {
                    visibility: hidden;
                    aspect-ratio: 1;
                    height: 1em;
                    width: 1em;

                    &.inactive {
                        visibility: collapse;
                    }

                    &.active {
                        visibility: visible;
                    }

                    &.asc {
                        visibility: visible;
                    }

                    &.desc {
                        visibility: visible;
                        transform: rotate(180deg);
                    }
                }
            }

            & .filters {
                display: flex;
                align-items: center;
                flex-flow: column;

                & .icon-wrapper {
                    height: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    visibility: hidden;

                    &.active {
                        visibility: visible;
                    }

                    transition: opacity ease-in-out .1s;
                    opacity: 0;

                    & svg {
                        aspect-ratio: 1;
                        height: 1em;
                        width: 1em;
                    }
                }

                & .menu {
                    display: none;

                    &.active {
                        display: flex;
                    }

                    user-select: none;
                    position: absolute;
                    min-width: 100px;
                    right: 0;
                    top: 0;
                    flex-flow: column nowrap;
                    background-color: #f8f9fa;
                    box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.25);

                    &-option {
                        display: flex;
                        width: 100%;
                        font-weight: 500;
                        font-size: 1em;
                        padding: .3em .5em;

                        & input {
                            margin-right: .5em;

                        }
                    }
                }
            }

            &:hover {
                & .filters .icon-wrapper {
                    opacity: 1;
                }
            }
        }
    }


    &_upsert-dialog {
        position: relative;
        margin-left: auto;
        height: 100%;
        width: 50%;
        width: 750px;
    }
}