@import 'styles/variables.scss';

.checkbox {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    &-input {
        position: absolute;
        visibility: collapse;
        &_box{
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1;
            width: 2.5em;
            height: 2.5em;
            @media (max-width: 799px) {
                height: 1.5em;    
                width: 1.5em;
                min-width: 1.5em;
            }
            background: $Lavender;
            &>svg{
                height: 50%;                
                fill: #6B74B2;
                max-height: 2.5em;
            }
        }
    }

    &-label {
        color: #746E6E;
        font-size: 1.5em;

        & a, a:link {
            text-decoration: underline;
        } 
        
        @media (max-width: 799px) {
            font-size: 1.1em;
        }
        @media (max-width: 365px) {
            font-size: .9em;
        }
    }
}