<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>

<body>
    <table bgcolor="#f1f1f1" width="100%"
        style="background-color:#f1f1f1;border-collapse:collapse;margin:0;min-width:600px;padding:0">
        <tbody>
            <tr>
                <td align="center" valign="top" width="100%"
                    style="border-collapse:collapse;margin:0;min-width:600px;padding:0">
                    <center>
                        <table bgcolor="#f1f1f1" border="0" cellpadding="0" cellspacing="0"
                            width="100%" style="border-collapse:collapse;margin:0;min-width:500px;padding:0">
                            <tbody>
                                <tr>
                                    <td align="center" style="border-collapse:collapse;margin:0;padding:0">
                                        <table border="0" cellpadding="0" cellspacing="0"
                                            width="100%"
                                            style="border-collapse:collapse;margin:0;min-width:500px;padding:0">
                                            <tbody>
                                                <tr height="50">
                                                    <td height="50" width="100%"
                                                        style="border-collapse:collapse;font-size:1px;line-height:1px;margin:0;padding:0">
                                                        &nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center"
                                                        style="border-collapse:collapse;margin:0;padding:0">
                                                        <table border="0" cellpadding="0"
                                                            cellspacing="0"
                                                            style="border-collapse:collapse;margin:0;min-width:500px;padding:0">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center"
                                                                        valign="middle"
                                                                        style="border-collapse:collapse;margin:0;padding:0">
                                                                        <div style="max-height:40px">
                                                                            <div>
                                                                                <img
                                                                                alt="Цифра. Дизайн. Сервис" border="0"
                                                                                hspace="0"
                                                                                src="https://psv4.userapi.com/c909628/u432338298/docs/d6/26613e564673/logo.png?extra=1OR8bVbFTHMVYboyDdLXTeWJcDYrsk9spvWgtx6FpJmcnxKampBBE_SEqqk8bmiU9tf1J-8wSM_Js1P7xfs44zBfR__774Cv01yRSrO1Wm2zcQWpFUoQLKvLuceK3WsRAeXNAZ19Cqeuo3b784ixr5dmog"
                                                                                title="Цифра. Дизайн. Сервис" vspace="0"
                                                                                style="border:medium;display:block;height:auto;line-height:100%;margin:0px;max-width:70px;text-decoration:none">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table style="border-collapse:collapse;margin:0;padding:0">
                                            <tbody>
                                                <tr>
                                                    <td align="center"
                                                        style="border-collapse:collapse;color:#313131;font-family:sans-serif;font-size:26px;line-height:32px;margin:0;padding:0">
                                                        &nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center"
                                                        style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="0" cellpadding="0" cellspacing="0"
                                            width="100%"
                                            style="border-collapse:collapse;margin:0;min-width:500px;padding:0">
                                            <tbody>
                                                <tr>
                                                    <td align="center"
                                                        style="border-collapse:collapse;margin:0;padding:0">
                                                        <table border="0" cellpadding="0"
                                                            cellspacing="0" width="500"
                                                            style="border-collapse:collapse;margin:0;min-width:500px;padding:0">
                                                            <tbody>
                                                                <tr>
                                                                    <td height="50" width="100%"
                                                                        style="border-collapse:collapse;font-size:1px;line-height:1px;margin:0;padding:0">
                                                                        <div
                                                                            style="color:#202020;font-family:sans-serif;font-size:26px;line-height:100%;text-align:center">
                                                                            Инструкции для смены пароля
                                                                            <br><br>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table border="0" cellpadding="0"
                                                            cellspacing="0" width="100%"
                                                            style="border-collapse:collapse;margin:0;min-width:500px;padding:0">
                                                            <tbody>
                                                                <tr height="20">
                                                                    <td align="center"
                                                                        style="border-collapse:collapse;margin:0;padding:0">
                                                                        &nbsp;</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                        <table border="0" cellpadding="0" cellspacing="0"
                            width="500"
                            style="background-color:#fff;border-collapse:collapse;margin:0 auto 0 auto;padding:0">
                            <tbody>
                                <tr height="50">
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                    <td height="50"
                                        style="border-collapse:collapse;font-size:1px;line-height:1px;margin:0;padding:0">
                                        &nbsp;</td>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                    <td align="left"
                                        style="border-collapse:collapse;color:#202020;font-family:sans-serif;font-size:14px;line-height:134%;margin:0;padding:0">
                                        Здравствуйте {{user}},
                                        <br><br>
                                    </td>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                    <td align="left"
                                        style="border-collapse:collapse;color:#202020;font-family:sans-serif;font-size:14px;line-height:134%;margin:0;padding:0">


                                        Нажмите кнопку ниже, чтобы сбросить пароль для вашей учетной записи олимпиады "Цифра. Дизайн. Сервис".

                                        <br><br>

                                    </td>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                </tr>
                                <tr height="15">
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                    <td
                                        style="border-collapse:collapse;font-size:1px;line-height:1px;margin:0;padding:0">
                                        &nbsp;</td>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>


                        <table border="0" cellpadding="0" cellspacing="0"
                            width="500" style="background-color:#fff;border-collapse:collapse;margin:0;padding:0">
                            <tbody>
                                <tr>
                                    <td align="center" style="border-collapse:collapse;margin:0;padding:0">
                                        <a href="{{url}}"
                                            style="color:#6B74B2;margin:0;padding:0;text-decoration:none"
                                            target="_blank" rel="noopener noreferrer">
                                            <table align="center" bgcolor="#6B74B2" border="0" cellpadding="0"
                                                cellspacing="0" height="50" width="400"
                                                style="border-collapse:separate !important;border-radius:6px;height:50px;margin:0;padding:0">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" valign="middle"
                                                            style="border-collapse:collapse;font-family:sans-serif;font-size:14px;margin:0;max-width:80%;padding:0">
                                                            <div
                                                                style="color:#ffffff;font-family:sans-serif;font-weight:bold;line-height:100%;padding:5%;text-align:center;text-decoration:none;text-transform:uppercase">
                                                                Сбросить пароль
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </a>
                                    </td>
                                </tr>
                                <tr height="15">
                                    <td height="30" width="100%"
                                        style="border-collapse:collapse;font-size:1px;line-height:1px;margin:0;padding:0">
                                        &nbsp;</td>
                                </tr>
                            </tbody>
                        </table>

                        <table border="0" cellpadding="0" cellspacing="0"
                            width="500"
                            style="background-color:#fff;border-collapse:collapse;margin:0;min-width:400px;padding:0">
                            <tbody>
                                <tr>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                    <td align="left"
                                        style="border-collapse:collapse;color:#202020;font-family:sans-serif;font-size:14px;line-height:134%;margin:0;padding:0">
                                        Кнопка не работает? Скопируйте приведенный ниже URL в свой браузер.
                                        <br><br>
                                            <a href="{{url}}"
                                               style="color:#037aee;margin:0;padding:0;text-decoration:none;word-break:break-all"
                                               target="_blank"
                                               rel="noopener noreferrer">{{url}}</a>
                                        <br>
                                    </td>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                    <td align="left"
                                        style="border-collapse:collapse;color:#202020;font-family:sans-serif;font-size:14px;line-height:134%;margin:0;padding:0">
                                        <div
                                            style="color:#202020;font-family:sans-serif;font-size:14px;line-height:19px">
                                            <br><br>
                                            С уважением,<br>команда олимпиады предпрофессиональных навыков "Цифра. Дизайн. Сервис"


                                        </div>
                                    </td>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                </tr>
                                <tr height="25">
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                    <td
                                        style="border-collapse:collapse;font-size:1px;line-height:1px;margin:0;padding:0">
                                        &nbsp;</td>
                                    <td width="50" style="border-collapse:collapse;margin:0;padding:0">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;margin:0;min-width:500px;padding:0">
                            <tbody>
                                <tr height="50">
                                    <td height="50" width="100%" style="border-collapse:collapse;font-size:1px;line-height:1px;margin:0;padding:0">
                                        &nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>