@import 'styles/variables.scss';

.authpage_modal{
    &-reset{
        font-size: 3.5vmin;
        text-align: center;
        color: $Glaucous !important;
        text-decoration: underline !important;
    }   
    &>form{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }
}