.combobox {
    min-height: 14.5vh;
    &_wrapper {
        background: rgba(238, 240, 251, 0.00); 
        outline: .1vmin solid rgba(0, 0, 0, 0.32);
        border-radius: 5px;
        height: 10vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-inline: 1.5vmin;


        &-label {
            // position: fixed;
            font-weight: bold;
            // transform: translateY(-3.1vh);
            font-size: 2.5vh;
            color: rgba(0, 0, 0, 0.72);
        }

        &-input {
            font-size: 3.5vh;
            height: auto;
        }
    }
}