.combobox {
    position: relative;
    height: 5.5em;
    &_wrapper {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        outline: .1vmin solid rgba(0, 0, 0, 0.32);
        padding: .3em .5em;
        border-radius: 5px;
        height: 4em;


        &-label {
            position: absolute;
            transform: translateY(-1em);
            font-size: 1em;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.72); 
        }

        &-input {
            font-size: 1.7em;
            margin-top: .6em;
            background-color: #EEF0FB;
            width: 100%;
        }
    }
}