.authpage_modal{
    &-tip{  
        width: 100%;
        display: block;
        font-size: 1.5em;
        margin-bottom: .7em;
        @media (max-width: 799px) {
            width: 100%;
            font-size: 1.3em;
        }
    }
}