@import 'styles/variables.scss';
.form-error{
    display: none;
    border-radius: 1em;
    min-width: 70%;
    margin-top: 4vh;
    flex-direction: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: $Lavender;
    gap: 1vw;
    padding: 2vh;
    user-select: none;
    & svg{
        height: 5em;
        fill: #DE3341;
    }
    & p{
        font-size: 2vh;
        color: #DE3341;
        width: 60%;
    }
    &.active{
        display: flex;
    }
}