@import 'styles/variables.scss';
.form-message{
    display: flex;
    position: absolute;
    transform: translateX(-200%);
    visibility: collapse;
    border-radius: 1em;
    width: 95%;
    margin-top: 1em;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: $Lavender;
    gap: .5em;
    padding: 1em;
    user-select: none;
    & svg{
        width: 2.5em;
        height: 2.5em;
        aspect-ratio: 1;
    }
    & p{
        font-size: 1.1em;
        width: 70%;
    }
    &.active{
        transform: translateX(0);
        visibility: visible;
        position: relative;
    }
    &.error{
        color: $Danger; 
        fill: $Danger;
    }

    @media (max-width: 799px) {
        position: absolute !important;
        transition: transform ease-in-out .1s;
        max-width: 100%;
        & p{
            width: inherit;
        }
    }
}