@import 'styles/variables.scss';
.form-message{
    display: flex;
    position: absolute;
    transform: translateX(-200%);
    border-radius: 1em;
    width: 95%;
    margin-top: 1em;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: $Lavender;
    gap: 2vw;
    padding: 1em;
    user-select: none;
    & svg{
        width: calc(2.5em + 1vw);
        aspect-ratio: 1;
    }
    & p{
        font-size: calc(1em + .5vw);
        width: 70%;
    }
    &.active{
        transform: translateX(0);
        position: relative;
    }
    &.error{
        color: #DE3341; 
        fill: #DE3341;
    }

    @media (max-width: 799px) {
        position: absolute !important;
        transition: transform ease-in-out .1s;
        max-width: 100%;
        & p{
            width: inherit;
        }
    }
}