.datagrid_menu-top {
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1em;
    width: 100%;

    & .btn-wrapper {
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
        & .button{
            font-size: 1.3em;
            text-transform: capitalize;
        }
    }

    & .searchbar {
        width: 100%;
        display: block;
        border: 1px solid #e6e8eb;
        border-radius: .5em;
        font-size: 1.5em;
        padding: .1em .5em;
    }

    .highlighted-menu {
        display: flex;
        flex-flow: row nowrap;
        gap: 1.5em;

        & .rows-controll {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 1em;
            padding-inline: .75em;
            border-right: .3vmin solid #e6e8eb;

            &-label {
                font-size: 1.5em;
            }

            &-btn {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                transition: all ease-in-out .3s;
                border-radius: .35em;
                padding: .2em;
                box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);

                &:hover {
                    background-color: #ededed;
                }

                & svg {
                    aspect-ratio: 1;
                    height: 1.35em;
                }
            }
        }
    }

    margin-bottom: 1em;
}

.datagrid_menu-bottom{
    height: 3em;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    border: .1vmin solid #e6e8eb;
    background-color: #f1f3f5;
    font-size: 1.45em;
    padding: .5em 1em;
    gap: 1.5em;
    & .container{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: .5em;
        & select{
            font-weight: 450;
            background-color: #f1f3f5;
        }
        & input{
            text-align: center;
            width: 1.2em;
        }
        & svg{
            aspect-ratio: 1;
            height: 1em;                            
        }
        & #datagrid-prev, & #datagrid-next{
            border-radius: 50%;
            padding: .5em;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:hover{
                background-color: #ededed;
            }
            &:disabled{
                cursor: not-allowed;
                fill: gray;
            }
        }

        & #datagrid-prev{
            transform: rotate(90deg);
        }
        & #datagrid-next > svg{
            transform: rotate(-90deg);
        }
    }
}