@import 'styles/variables.scss';

.authpage {
    min-height: 100%;
    background: linear-gradient(270deg, #e3e5f3, #d8dbf3);
    background-size: 400% 400%;
    -webkit-animation: BackgroundAnimation 30s ease infinite;
    -moz-animation: BackgroundAnimation 30s ease infinite;
    animation: BackgroundAnimation 30s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    &_modal {
        position: relative;
        margin: auto;
        width: 60em;
        padding: 2em 4em;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: $Anti-Flash-White;
        &>form{
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            gap: .5em;
        }
        
        @media (max-width: 799px) {
            background-color: transparent;
            width: 100%;
            height: 100%;
            padding: .5em .5em;
        }
        &-logo {
            width: 10em;
            user-select: none;
            -webkit-user-drag: none;
        }

        &-title {
            margin-top: .5em;
            margin-bottom: .7em; 
            text-align: center;
            font-size: 3em;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @media (max-width: 799px) {
                font-size: 1.7em;
            }
        }
        & .button{     
            width: 100%;
            height: 2.5em;
        }
    }
    @media (max-width: 799px) {
        background: $Anti-Flash-White;
    }
}

@-webkit-keyframes BackgroundAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes BackgroundAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes BackgroundAnimation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}